* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: #fef9fe;
}


/* *** font start *** */

@font-face {
    font-family: 'rieslingregular';
    src: url('webfontkit-Riesling/riesling-webfont.woff2') format('woff2'), url('webfontkit-Riesling/riesling-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'districtthinregular';
    src: url('webfontkit-20180529-102725/distth_-webfont.woff2') format('woff2'), url('webfontkit-20180529-102725/distth_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

p {
    font-family: 'districtthinregular', sans-serif;
    font-weight: 600;
    font-size: 1em;
}

a {
    font-family: 'districtthinregular', sans-serif;
    font-weight: 1;
    font-size: 1.5em;
    cursor: pointer;
}

.tekst {
    font-family: 'rieslingregular', sans-serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 5px;
}

.info {
    margin: 0 10px;
}

.info h2 {
    font-family: 'districtthinregular';
    font-size: 1.9em;
}

.info h3 {
    font-family: 'districtthinregular';
    font-size: 1.44em;
    margin-top: 10px;
}

.info p {
    font-family: 'districtthinregular';
    font-size: 1em;
}

.instuktioner p {
    font-size: 0.8em;
}

.instuktioner {
    max-width: 400px;
    text-align: justify;
    margin-top: 50px;
}


/* *** font slut *** */


/* *** DROP DOWN MENU START *** */

.ikon_kurv {
    width: 33px;
    position: absolute;
    right: 1%;
    padding: 25px 15px 2px 0px
}

.logo {
    width: 400px;
    position: absolute;
    Left: calc(50% - 200px);
    margin-top: 20px;
}

#header {
    position: fixed;
    width: 100%;
    height: 45px;
    z-index: 1;
    top: 0;
}

.container_drop {
    margin: 0;
    position: fixed;
    padding: 25px 0px 2px 25px;
    display: block;
    cursor: pointer;
    min-width: 40px;
}

.container_drop a {
    color: black;
    text-decoration: none;
    display: block;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #8B4F63;
    margin: 6px 0;
    transition: 0.4s;
}

.kategori {
    font-size: 8px;
    margin-left: 10px;
}


/* Rotate first bar */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: #8B4F63;
}


/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
}


/* Rotate last bar */

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: #8B4F63;
}

.dropdown {
    display: none;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    z-index: 1;
    padding: 10px 0px 0px 0px;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: #8B4F63;
    padding: 5px 0px 0px 10px;
    text-decoration: none;
    display: block;
    font-family: 'Futura';
    letter-spacing: 2px;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    color: #ffb1ae;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}


/* *** DROP DOWN MENU SLUT *** */


/* *** SPLASH start *** */

#splash a {
    width: 40px;
    position: absolute;
    margin-top: 50%;
    Left: 48%;
    animation: jump 2s infinite;
}

@keyframes jump {
    0% {
        top: 0;
    }
    50% {
        top: 10px;
    }
    100% {
        top: 0;
    }
}

video {
    height: 100%;
    width: 100%;
    border-style: none;
    margin: 0px 0px 50px 0px;
    pointer-events: none;
}

.box img {
    border: 1px solid #8B4F63;
}


/* *** SPLASH slut *** */


/* *** Forside start *** */

#info_tekst {
    max-width: 500px;
    margin: 20px auto 60px;
}

#info_tekst .overskrift {
    font-family: 'rieslingregular', sans-serif;
    letter-spacing: 2px;
    font-size: 40px;
}

#info_tekst p {
    font-family: 'rieslingregular', sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 0 auto;
    font-size: 25px;
    font-style: block;
}

.info_tekst {
    text-align: center;
    margin-bottom: 30px;
}

.container img {
    width: 100%;
}

.container {
    display: grid;
    grid-template: 'top top' 'left right';
    grid-gap: 7px;
    grid-row-gap: 0px;
    max-width: 700px;
    margin: 0 auto;
    padding: 0px 20px;
    position: relative;
    margin-bottom: 200px;
}

.container:hover {
    display: grid;
    grid-template: 'top top' 'left right';
    padding: -10px -100px;
    filter: brightness(0.7);
}

.item-a {
    grid-area: top;
}

.item-b {
    grid-area: left;
}

.item-c {
    grid-area: right;
}

.tekst {
    position: absolute;
    font-size: 170px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #ffb1ae;
    top: 41%;
    z-index: 100;
}


/* *** forside slut *** */


/* *** smykker START *** */


/* *** Slideshow start*** */

#smykkesplash {
    max-width: 1080px;
    margin: 200px auto 10px auto;
}

.slideshow {
    width: 100%;
    margin-bottom: 100px;
}

.mySlides {
    width: 100%;
    display: none;
}


/* *** Slideshow slut *** */

.oreringarmband {
    width: 300px;
    margin: 190px auto 0 auto;
}

.oreringarmband a {
    text-decoration: none;
    font-family: 'districtthinregular', sans-serif;
    color: black;
}

.oreringarmband a:hover {
    color: #8B4F63;
    cursor: pointer;
}

.oreringarmband nav {
    display: flex;
    justify-content: space-between;
}

.smykkenavn1 {
    position: absolute;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: white;
    top: 45%;
    font-family: 'rieslingregular', sans-serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 5px;
    font-size: 40px;
}

.smykkenavn2 {
    position: absolute;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: white;
    top: 45%;
    left: 50%;
    font-family: 'rieslingregular', sans-serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 5px;
    font-size: 40px;
}

.oreringlink.armbandlink {}

#smykkeboks {
    grid-template: 'left right';
    grid-gap: 10px;
    max-width: 1080px;
    margin: 100px auto;
    position: relative;
    justify-content: center;
}

#smykkeboks img {
    width: 100%;
}

#tekstboks {
    max-width: 800px;
    margin: auto;
}

#tekstboks p {
    font-family: 'districtthinregular', sans-serif;
    font-weight: normal;
    letter-spacing: 0.5px;
    font-size: 25px;
    font-style: block;
    line-height: 1.2;
}


/* *** Smykker SLUT *** */

.searchbar {
    border: none;
    text-align: right;
    float: right;
}

.filtermenu button {
    text-decoration: none;
    border: none;
    padding: 6px;
    font-size: 1.5em;
    background-color: #fef9fe;
    font-family: 'districtthinregular', sans-serif;
}

button:hover {
    color: #8B4F63;
    cursor: pointer;
}

#filter {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    position: inherit;
}

#armbande {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    transition: all 1s ease;
    justify-content: center;
    max-width: 1080px;
    margin: auto;
    padding: 0 10px;
}

.armband article {
    position: relative;
}

.armband article:hover .navnpris {
    visibility: visible;
    opacity: 0.8;
    cursor: pointer;
}


/* *** orering start *** */

.navnpris {
    font-size: 1.5em;
    text-align: center;
    z-index: 2;
    background-color: #F5E6D0;
    height: 100px;
    width: 100%;
    position: absolute;
    top: 40%;
    opacity: 0;
    visibility: hidden;
    align-self: center;
    -webkit-transition: opacity .5s, visibility .5s;
    -o-transition: opacity .5s, visibility .5s;
    transition: opacity .5s, visibility .5s;
    font-family: 'districtthinregular', sans-serif;
}

.navn {
    padding-top: 4%;
}

.smykkebillede {
    width: 100%;
}

.smykkerbillede {
    width: 100%;
    cursor: pointer;
}

.orering article {
    position: relative;
}

.orering article:hover .navnpris {
    visibility: visible;
    opacity: 0.8;
    cursor: pointer;
}

#oreringe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    transition: all 1s ease;
    justify-content: center;
    max-width: 1080px;
    margin: auto;
    padding: 0 10px;
}


/* *** orering slut *** */


/* *** enkelt smykke start *** */

#single_orering {
    display: grid;
    grid-template: 'left right';
    max-width: 800px;
    margin: 170px auto;
    grid-gap: 4px;
    grid-row-gap: 0px;
    position: relative;
}

#single_armband {
    display: grid;
    grid-template: 'left right';
    max-width: 800px;
    margin: 170px auto;
    grid-gap: 4px;
    grid-row-gap: 0px;
    position: relative;
}

.kurv {
    text-decoration: none;
    border: none;
    font-size: 3.5em;
    background-color: #fef9fe;
    font-family: 'rieslingregular';
    margin-top: 50px;
}


/* *** *** */


/* *** enkelt smykke slut *** */


/* *** Om start *** */

#om .box {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 0px;
    margin-top: 170px;
}

.txt_om {
    font-family: 'rieslingregular', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
    margin: 40px 0;
}

.video {
    grid-area: top top;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.ombilleder {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    max-width: 1000px;
}

.ombilleder img {
    width: 100%;
}

.omtekst {
    margin: 10px;
    font-family: 'districtthinregular', sans-serif;
    font-weight: 600;
    font-size: 1em;
}

.omtekst h2 {
    color: #8B4F63;
    font-size: 1.1em
}

.butik {
    margin-bottom: 5px;
}


/* *** Om slut *** */


/* *** Presse start *** */

#presse {
    margin-top: 150px;
}

#presse img {
    width: 30vw;
    margin: 30px;
}

#presse .text {
    width: 30vw;
    margin: 0px 30px;
    margin-top: -20px;
    font-family: 'districtthinregular', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
}


/* *** Presse slut *** */


/* *** FOOTER START *** */

#footer {
    padding: 1em 2em 2em 2em;
    background-color: #ffb1ae;
    text-align: center;
    margin-top: 100px;
}

#footer .icons {
    font-size: 2em;
}

#footer .icons a {
    color: white;
}

#footer .icons a:hover {
    color: #f5e6d0;
}

#footer .copyright {
    color: white;
    font-size: 1em;
    letter-spacing: 0.125em;
    padding: 20px 0px;
    color: white;
}

#footer .copyright li:first-child {
    margin-left: 0;
    padding-left: 0;
}

#footer .copyright li a {
    color: inherit;
}

.copyright p {
    color: white;
    text-align: center;
    margin: 0 auto;
}

#footer .kontakt {
    max-width: 50%;
    margin-left: -10px;
    text-align: right;
}

#footer .information {
    max-width: 50%;
    margin-right: -10px;
    margin-top: -55px;
    text-align: left;
}

.copyright a {
    color: white;
    font-size: 1em;
    letter-spacing: 0.125em;
    color: white;
    text-decoration: none;
    font-family: 'districtthinregular', sans-serif;
    font-weight: 600;
    font-size: 1em;
}

.copyright a:hover {
    color: #f5e6d0
}


/* *** FOOTER SLUT *** */

.alle {
    text-transform: uppercase;
}

.active {
    border-bottom: solid 0.1px;
}

@media screen and (max-width: 850px) {
    #oreringe {
        grid-template-columns: repeat(2, 1fr);
    }
    #armbande {
        grid-template-columns: repeat(2, 1fr);
    }
    button {
        font-size: 1em;
    }
    .ombilleder {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 750px) {
    #smykkeboks {
        display: grid;
        position: relative;
    }
}

@media screen and (min-width: 750px) {
    .smykkenavn1 {
        position: absolute;
        width: 50%;
        margin: 0 auto;
        text-align: center;
        color: white;
    }
    .smykkenavn2 {
        position: absolute;
        width: 50%;
        margin: 0 auto;
        text-align: center;
        color: white;
    }
}

@media screen and (max-width: 580px) {
    .logo {
        width: 200px;
        Left: calc(50% - 100px);
    }
    #filter {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .oreringarmband {
        width: 200px;
        margin-top: 100px
    }
    .ombilleder {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 560px) {
    #splash a {
        width: 40px;
        position: absolute;
        margin-top: 45%;
        left: 48%;
        animation: jump 2s infinite;
    }
}

@media screen and (max-width: 580px) {
    .tekst {
        position: absolute;
        font-size: 100px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        color: #ffb1ae;
        top: 41%;
    }
}

@media screen and (max-width: 480px) {
    #footer .copyright li {
        border: 0;
        display: block;
        line-height: 1.65em;
        margin: 0;
        padding: 0.5em 0;
    }
}
