* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    margin: 0;
    background-color: #fef9fe;
}


/* *** font start *** */

@font-face {
    font-family: 'districtthinregular';
    src: url('webfontkit-20180529-102725/distth_-webfont.woff2') format('woff2'), url('webfontkit-20180529-102725/distth_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

p {
    font-family: 'districtthinregular', sans-serif;
    font-weight: 600;
    font-size: 1em;
}

a {
    font-family: 'districtthinregular', sans-serif;
    font-weight: 1;
    font-size: 1.5em;
}

.tekst {
    font-family: 'districtthinregular', sans-serif;
    font-weight: 700;
    font-size: 10em;
}


/* *** font slut *** */

/* *** Slideshow start*** */

#smykkesplash {
    max-width: 1080px;
    margin: 160px auto 10px auto;
}

.slideshow {
    width: 100%;
    margin-bottom: 20px;
}

.mySlides {
    width: 100%;
    display: none;
}


/* *** Slideshow slut *** */

/* *** DROP DOWN MENU START *** */

.ikon_kurv {
    width: 33px;
    position: absolute;
    right: 1%;
    padding: 25px 15px 2px 0px
}

.logo {
    width: 400px;
    position: absolute;
    Left: calc(50% - 200px);
    margin-top: 20px;
}

#header {
    position: fixed;
    width: 100%;
    height: 45px;
    z-index: 1;
    top: 0;
}

.container_drop {
    margin: 0;
    position: fixed;
    padding: 25px 0px 2px 25px;
    display: block;
    cursor: pointer;
    min-width: 40px;
}

.container_drop a {
    color: black;
    text-decoration: none;
    display: block;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.kategori {
    font-size: 10px;
}


/* Rotate first bar */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: black;
}


/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
}


/* Rotate last bar */

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: black;
}

.dropdown {
    display: none;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    z-index: 1;
    padding: 10px 0px 0px 0px;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 5px 0px 0px 10px;
    text-decoration: none;
    display: block;
    font-family: 'Futura';
    letter-spacing: 2px;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    color: pink;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}


/* *** DROP DOWN MENU SLUT *** */

/* *** SPLASH start *** */

video {
    height: 100%;
    width: 100%;
    border-style: none;
    margin: 0px 0px 50px 0px;
}


/* *** SPLASH slut *** */

/* *** Forside start *** */

.container {
    display: grid;
    grid-template: 'top top' 'left right';
    grid-gap: 4px;
    grid-row-gap: 0px;
    transition: all 1s ease;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 0px 20px;
    position: relative;
}

.item-a {
    grid-area: top;
}

.item-b {
    grid-area: left;
}

.item-c {
    grid-area: right;
}

.tekst {
    position: absolute;
    font-size: 40px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: white;
    top: 48%;
}


/* *** forside slut *** */

/* *** smykker start *** */

.smykkenavn1 {
    position: absolute;
    font-size: 20px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: white;
    top: 45%;
}

.smykkenavn2 {
    position: absolute;
    font-size: 20px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: white;
    top: 45%;
    left: 50%
}

.oreringlink.armbandlink {}

#smykkeboks {
    grid-template: 'left right';
    grid-gap: 10px;
    max-width: 1100px;
    margin: 20px auto;
    position: relative;
    justify-content: center;
}

#tekstboks {
    max-width: 600px;
    margin: auto;
}

.searchbar {
    border: none;
    text-align: right;
    float: right;
}

button {
    text-decoration: none;
    border: none;
    padding: 7px;
    font-size: 1.5em;
    margin: 2px;
    background-color: #fef9fe;
}

button:hover {
    color: #8B4F63;
}

#filter {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 20px;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    position: inherit;
}


/* *** smykker slut *** */

#armbande {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    transition: all 1s ease;
    justify-content: center;
    max-width: 1080px;
    margin: auto;
    padding: 0 10px;
}

.armband article {
    position: relative;
}

.armband article:hover .navnpris {
    visibility: visible;
    opacity: 0.8;
}


/* *** orering start *** */

.navnpris {
    font-size: 1.5em;
    text-align: center;
    z-index: 2;
    background-color: #F5E6D0;
    height: 100px;
    width: 100%;
    position: absolute;
    top: 40%;
    opacity: 0;
    visibility: hidden;
    align-self: center;
    -webkit-transition: opacity .5s, visibility .5s;
    -o-transition: opacity .5s, visibility .5s;
    transition: opacity .5s, visibility .5s;
}

.navn {
    padding-top: 4%;
}

.smykkebillede {
    width: 100%;
}

.orering article {
    position: relative;
}

.orering article:hover .navnpris {
    visibility: visible;
    opacity: 0.8;
}

#oreringe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    transition: all 1s ease;
    justify-content: center;
    max-width: 1080px;
    margin: auto;
    padding: 0 10px;
}


/* *** orering slut *** */

@media screen and (max-width: 850px) {
    #oreringe {
        grid-template-columns: repeat(2, 1fr);
    }
    #armbande {
        grid-template-columns: repeat(2, 1fr);
    }
    button {
        font-size: 1em;
    }
}

@media screen and (min-width: 750px) {
    #smykkeboks {
        display: grid;
        position: relative;
    }
}

@media screen and (min-width: 750px) {
    .smykkenavn1 {
        position: absolute;
    }
    .smykkenavn2 {
        font-size: 20px;
        width: 50%;
        margin: 0 auto;
        text-align: center;
        color: white;
    }
}

@media screen and (max-width: 580px) {
    .logo {
        width: 200px;
        Left: calc(50% - 100px);
    }
    #filter {
        margin-top: 120px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* *** Om start *** */

#om .container {
    display: grid;
    grid-template: 'left right' 'bottom bottom';
    grid-gap: 4px;
    grid-row-gap: 0px;
    transition: all 1s ease;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0px 0px;
}

#om img {
    width: 100%;
}

.item-1 {
    grid-area: left;
}

.item-2 {
    grid-area: right;
}

.item-3 {
    grid-area: bottom;
}


/* *** Om slut *** */
