* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}


/* *** DROP DOWN MENU START *** */

header {
    position: fixed;
    width: 100%;
    background-color: white;
    height: 45px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.container_drop {
    margin: 0;
    position: fixed;
    padding: 2px 0px 2px 25px;
    display: block;
    cursor: pointer;
    background-color: white;
    min-width: 260px;
}

.container_drop a {
    color: black;
    text-decoration: none;
    display: block;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.kategori {
    font-size: 10px;
}


/* Rotate first bar */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: black;
}


/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
    background-color: white;
}


/* Rotate last bar */

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: black;
}

.dropdown {
    display: none;
    background-color: white;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    z-index: 1;
    padding: 30px 40px 30px 0px;
    background-color: white;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 5px 0px 0px 10px;
    text-decoration: none;
    display: block;
    font-family: 'Futura';
    letter-spacing: 2px;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    color: pink;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}


/* *** DROP DOWN MENU SLUT *** */


/* *** SPLASH start *** */

video {
    height: 36vw;
    width: 100vw;
    border-style: none;
    margin: 50px 0px;
}


/* *** SPLASH slut *** */


/* *** smykker start *** */

.container {
    display: grid;
    grid-template-columns: [col1-start] 300px [col2-start] 300px [col2-end];
    grid-template-rows: [row1-start] auto [row1-end];
    grid-column-gap: 5px;
    width: 400px;
    margin: 0 auto;
    justify-content: center;
    position: relative;
}

img {
    width: 100%;
}

.item-a {
    grid-column: col1-start / col3-start;
    grid-row: row1-start;
}

.item-b {
    grid-column: col1-start;
    grid-row: row2-start;
}

.item-c {
    grid-column: col2-start;
    grid-row: row2-start;
}

.overskrift {
    position: absolute;
    color: white;
    font-size: 60px;
    z-index: 1;
    margin: -80px 10px 10px 10px;
}


/* *** smykker slut *** */
